/*------- Police --------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*-------- Mise en place box-sizing -------- */
*
{
    box-sizing: border-box;
}
/*
@font-face {
    font-family: "ralewaythin";
    src: 
    url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
    /*url('../font/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('../font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');*/

/*
@font-face {
    font-family: "ralewaythin";
    src: url('../font/static/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}*/

body
{
    font-family: 'Raleway', sans-serif;
    
}
/* -------- Header -------- */
header
{
    display:flex;
    justify-content: space-between;
    height: 100px;
    margin: 30px;
    
}
main
{
    margin :25px;
}

#logo_booki
{
    width: 120px;
    object-fit: contain;
}

#nav_ul
{
    display:flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav_a
{
    border-top: 3px solid white;
    padding: 30px;
    color:black;
    text-decoration: none;
}

.nav_a:hover
{
    border-top: 3px solid #0065FC;
    padding: 30px;
    color: #0065FC;
}

/* -------- Section recherche --------*/
#recherche_p
{
    position:relative;

}

#recherche_i
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: solid #F2F2F2 2px;
  } 
#form_search, #form_submit_recherche, #form_submit_loupe
{
    font-size: medium;
    font-weight: bold;
}
#form_search
{
    position:absolute;
    left:35px ;
    padding:10px;
    border:solid #F2F2F2 2px;
    border-bottom: solid #F2F2F2 3px;
    outline: none;
    
}
#form_search:focus
{
    position:absolute;
    left:35px ;
    padding:10px;
    color:grey;
}
#form_submit_recherche
{
    background-color: #0065FC;
    color: white;
    position: absolute;
    left: 255px;
    padding: 10px;
    border: solid #0065FC 2px;
    border-radius: 0 10px 10px 0;
}

/*-------- Partie Filtre -------*/

#filtre, .filtre_theme
{
    display: flex;
    align-items: center;
}
.filtre_theme
{
    justify-content: space-between;
}
.filtre_lien
{
        display: inline-flex;
        height: 50px;
        border-radius: 25px;
        border: solid #F2F2F2 3px;
        text-decoration: none;
        margin: 20px;
}
.filtre_i
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #DEEBFF;
    border-radius: 45px;
    color:#0065FC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -3px;
    margin-left: -3px;
}
.filtre_titre
{
    padding: 10px;
    font-weight: bold;
}
.filtre_titre:hover
{
    color:rgb(78, 195, 241);
    cursor: pointer;
}
#info
{
    display: inline-flex;
    align-items: center;
}
.fa-info
{
    text-align: center;
    font-size: x-small;
    color: #0065FC;
    padding: 2px;
    border: solid 1px #DEEBFF;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

/* --------Section Hebergement --------*/
#hebergement
{
    display: flex;
    justify-content:space-around;
    margin:30px 0;
    gap: 30px;
}
    /*--------  Herbergement à Marseille --------*/

#hebergement_m
{
    padding: 20px 30px;
    background-color:#F2F2F2;
    width: calc(2 * 100% / 3);
    border-radius: 15px;  
    display: flex;
    flex-direction: column;  
}

    /* -------- Card Hébergement à marseile --------*/
.lien_card_hebergement_m
{
    text-decoration: none;
    color: black;
    width:30%;
    height: 230px;
}
#card_hebergement
{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:30px;
    margin: 30px 0 50px;
}
.card_h
{
   background-color: white;
   box-shadow: 0px 5px 20px #999;
   border-radius: 10px;
   padding: 5px;
   width:100%;
   height: 100%;
   display: flex;
  flex-direction: column;
}
.card_img_h
{

    height: 120px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  
}
.card_img_h img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_h:hover, .card_pop:hover,.card_activites_1:hover, .card_activites_2_small:hover, .card_activites_2_x_small:hover
{
    background-color:rgb(78, 195, 241);
    color:white;
    cursor: pointer;
    transform: scale(1.03);
}
.card_body
{
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
h4, .card_body p
{
    margin:0 0 5px 0;
}
.star_blue
{
    color:#5498fe;
    font-size: small;
}
.star_grey
{
    color:#999;
    font-size: small;
}
#lien_afficher
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
        /* -------- aside les plus populaires --------*/
aside
{
    background-color: #F2F2F2;
    width: calc(100% / 3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 20px;
}
#hebergement_pop_titre
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

            /* -------- Card les plus populaires --------*/
#card_pop_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:15px;
    
    
}
.lien_card_pop
{
    text-decoration: none;
    color: black;
}
.card_pop
{
    display: flex;
    width: 80%;
    height: 160px;
    min-width: 70px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10px;
    margin: 10px auto;
}
.card_pop_img
{
    width: 35%;
    overflow: hidden;
    border-radius:10px 0 0 10px ;
    margin:5px;
}
.card_pop_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_pop_body
{
    padding: 20px 20px 0 20px;
    width: 65%;
   /* min-width: 70px;*/
}
.card_pop_body p
{
    margin:0 0 40px;
}
/* --------Section Activités à Marseille ------*/
#activites
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}
#activites_m
{
    display:flex;
    justify-content: space-between;
    height: 500px;
    gap: 40px;
}
#activites_m h4
{
   padding: 10px;
}

.lien_card_activites_1
{
    text-decoration: none;
    color:black;
    width:calc(100% / 4);
}

.card_activites_1
{
   
    box-shadow: 0px 2px 5px #999;
    border-radius: 10px;
    height: 100%;
}

.card_activites_1_img
{
    width: 100%;
    height: 90%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;   
}
.card_activites_1_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_activites_2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:calc(100% / 4);
    height: 100%;
    gap:20px;
}

.lien_card_activites_2_small
{
    text-decoration: none;
    color:black;
    width:100%;
    height: 40%;
}


.card_activites_2_small
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #999;
}
.card_activites_2_small_img
{
    width:100%;
    height:80%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.card_activites_2_small_img img
{
    width:100%;
    height:100%;
    object-fit: cover;
}
.lien_card_activites_2_x_small
{
    text-decoration: none;
    color:black;
    width:100%;
    height: 40%;
}
.card_activites_2_x_small
{
    width:100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #999;
}
.card_activites_2_x_small_img
{
    width:100%;
    height:80%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.card_activites_2_x_small_img img
{
    width:100%;
    height:100%;
    object-fit: cover;
}
/*
#activites_m h4:hover
{
    color:rgb(78, 195, 241);
}
*/
    /* -------- Footer -------*/
footer
{
    background-color:#F2F2F2;
    padding-bottom: 40px;
}
#footer_container
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 40px;
}
.footer_list
{
    display: flex;
    flex-direction: column;
    
}
footer ul
{
    padding: 0;
    margin:0;
}
footer li
{
    list-style: none;
    padding:5px 0;
    
}
footer a
{
    text-decoration: none;
    color:black;
}
/*-------- media queries tablettes -------- */

@media all and (max-width: 992px)
{
    #filtre
    {
        justify-content: space-around;
    }
    .filtre_theme
    {
        flex-wrap: wrap;

    }
    .filtre_lien
    {
        margin: 15px 15px 15px 0;
    }
    /* -------- Hebergement -------- */
    #hebergement
    {
        flex-direction: column;
    }
    aside, #hebergement_m, #hebergement_pop_titre
    {
        width: 100%;
    }
    /*------- Aside les plus populaires --------*/
    aside
    {
        background-color: white;
    }
    #hebergement_pop_titre
    {
        justify-content: flex-start;
    }
    #hebergement_pop_titre span
    {
        margin-left: 20px;
    }
    #card_pop_container
    {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .card_pop
    {
        width: 32%;
    }

}


/*-------- media queries moobiles -------- */
@media all and (max-width:768px)
{
    body
    {
        margin:0px;
    }
    header
    {
        flex-direction: column;
        height: 150px;
        margin: 10px 0;
    }
    #logo_booki
    {
        width: 100px;
        margin: 10px auto;
    }
    #nav_ul
    {
        margin-top: 50px;
        padding:0 0 20px;  
        border-bottom: solid #F2F2F2;
    }
    .nav_a
    {
        padding: 20px 50px;
    }
    
    
    .nav_a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC ; 
        padding: 20px 50px;
    }
    .nav_a:active
    {
        border-top: none;
        border-bottom: 3px solid #0065FC ; 
        padding: 20px 50px;
    }
    main
    {
        margin: 0 15px;
    }
    #form_search
    {
        padding: 10px 60px 10px 10px;
        z-index: -1;
        border-bottom: solid #F2F2F2 3px;
    }
    #form_submit_recherche
    {
        display:none;
    }
    #form_submit_loupe
    {
        position: absolute;
        left: 300px;
        padding: 10px 20px;
        background-color:white;
        opacity: 0;
        border: solid #0065FC 2px;
        border-radius: 0 10px 10px 0;
    }
    .fa-magnifying-glass
    {
        position: absolute;
        left: 300px ;
        z-index: -1;
        padding: 12px;
        background-color: #0065FC;
        border: solid #0065FC 2px;
        border-radius: 0 10px 10px 0;
        color:white;
    }
    #filtre
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtre_theme
    {
        flex-wrap: wrap;

    }
    .filtre_lien
    {
        margin: 15px 15px 15px 0;
    }
    #info
    {
        display: inline-flex;
        align-items: flex-start;
    }

    /* -------- Section hebergement --------*/

    #hebergement
    {
        flex-direction: column;
    }
    aside
    {
        order:1;
        width: auto;
        padding: 0;
        border-radius: 0;
    }
    #hebergement_pop_titre
    {
        justify-content: space-between;
    }
    #card_pop_container
    {
        flex-direction: column;
    }
    .card_pop
    {
        width: 90%;
    }
    #hebergement_m
    {
        order:2;
        width: 100%;
        padding: 0;
        background-color: white;
        border-radius: 0;
    }
    .card_h
    {
        width: 100%;
    }

    /* ---------Section activités à marseille --------*/
    #activites
    {
        margin:0 0 60px 0;
    }
    #activites_m
    {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0px 10px;
    }
    .card_activites_1
    {
        width: 100%;
        height:160px;
        margin: 20px 0;
    }
    .card_activites_1 img
    {
        height: 70%;
    }
    .card_activites_2
    {
        width: 100%;
    }
    .card_activites_2_small, .card_activites_2_x_small
    {
        height: 160px;
    }
    .card_activites_2_small img, .card_activites_2_x_small img
    {
        height: 70%;
    }

    .card_activites_2_small
    {
        margin-bottom: 20px;
    }
    .x_small
    {
        margin-bottom: 20px;
    }
    /* -------- footer --------*/
    #footer_container
    {
        flex-direction: column;
    }
    .footer_list
    {
        margin-bottom: 20px;
    }

}